* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* position: relative; */
    position: relative;
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#green {
    background-color: #017143;
}

#pink {
    background-color: #eb7495;
}

#darkpink {
    background-color: #d752b1;

}

.quadrant {

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    clip-path: circle(600px at right 800px);
}

.nav-options {
    display: none;
}

.options {
    display: none;
}

.options.active {
    background-image:url("close.png");
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

}

.nav-options.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #017143;
    z-index: 10;
}
.close{
    display: none;
}
.close.active{
   /* justify-content: end; */
   position: fixed;
   top: 0;
   left: 0;
   flex-direction: column;
   z-index: 10;
   /* filter: invert(1); */
}
.nav-options li{
    list-style: none;
    padding: 10px;
}

.nav-options li a{
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    font-weight: 400;

}


nav {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 200px;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;

}

nav ul li a {
    display: inline-block;
    position: relative;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: 400;


}

.logo {
    position: relative;
    max-width: 80px;
}

.content {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.textbox {
    position: relative;
    max-width: 600px;

}

.para {
    font: bold;
    font-size: 1rem;
}

.learn {
    margin: 20px 0px;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    border: none;
    background-color: rgb(46, 146, 46);
    color: white;
    font-size: 1rem;
}

.heading {
    font-size: 3rem;
    font: bold;

}

.starbucks {
    color: #017143;

}

.images {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;



}

.current {
    max-width: 340px;
    /* width: 50px; */
}

.thumbs {
    position: absolute;
    display: flex;
    list-style-type: none;
    left: 35%;
    bottom: 20px;

}

.thumbs li {
    display: inline-block;
    margin: 5px 20px;
    cursor: pointer;
}

.thumbs li img {
    max-width: 70px;
    /* transition: 1%; */
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 2) */
    transition: all 250ms linear;
}

.thumbs li img:hover {
    max-width: 80px;
    /* scale: 150%; */
    transform: translateY(-50px);
}

.social {
    list-style: none;



}

.social li {
    padding: 10px 0px;
    display: block;
    margin: 5px 0px;
    transform: scale(0.80);
    filter: invert(1);


}

@media screen and (max-width:991px) {
    .options {
        display: block;
    }

    nav {
        padding: 0;
    }

    nav ul {
        display: none;
    }

    .logo {
        max-width: 60px;
    }

    .quadrant {
        clip-path: circle(400px at center bottom);
    }

    header {
        padding: 10px;
    }

    .content {
        display: block;
        width: 100%;
    }

    .textbox {
        margin-top: 150px;
    }

    .images {
        justify-content: center;
        max-width: 100%;

    }

    .current {

        max-width: 250px;
        /* display: flex; */
        /* justify-content: center;
       align-items: center;     */

    }

    .thumbs {
        position: absolute;
        left: 50px;
        bottom: 20px;
        justify-content: center;
        list-style-type: none;

    }

    .thumbs li {
        display: inline-block;
        cursor: pointer;
    }

    .thumbs li img {
        max-width: 50px;
        justify-content: center;
        transition: all 250ms linear;
    }
}